/* here Font family cdn link */


/* tailwind css and other ui import */
@import "tailwindcss";
@plugin "daisyui";

/* primary color #0D8CE4 */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0D8CE4;
  --color-secondary: teal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}
